---
baseURL: "https://owncloud.github.io/"
languageCode: "en-us"
title: "ownCloud"
theme: "hugo-geekdoc"

pygmentsUseClasses: true
pygmentsCodefences: true

disablePathToLower: true

# Needed for mermaid/katex shortcodes
markup:
  tableOfContents:
    startLevel: 1
    endLevel: 9
  highlight:
    codeFences: true
    guessSyntax: true
    hl_Lines: ""
    lineNoStart: 1
    lineNos: false
    lineNumbersInTable: true
    tabWidth: 4


params:
  # (Optional, default 6) Set how many table of contents levels to be showed on page.
  # Use false to hide ToC, note that 0 will default to 6 (https://gohugo.io/functions/default/)
  # You can also specify this parameter per page in front matter.
  geekdocToC: 3

  # (Optional, default static/brand.svg) Set the path to a logo for the Geekdoc
  # relative to your 'static/' folder.
  geekdocLogo: logo.png

  # (Optional, default true) Show a breadcrumb navigation bar at the top of each docs page.
  # You can also specify this parameter per page in front matter.
  geekdocBreadcrumb: true

  # (Optional, default 'Jan 2, 2006') Configure the date format used on the pages in blog posts.
  geekdocDateFormat: "Jan 2, 2006"

  # (Optional, default true) Enables search function with flexsearch.
  # Index is built on the fly and might slowdown your website.
  geekdocSearch: true

  # (Optional, default none) Add a link to your Legal Notice page to the site footer.
  # It can be either a remote url or a local file path relative to your content directory.
  geekdocLegalNotice: https://owncloud.org/imprint/

  # (Optional, default none) Add a link to your Privacy Policy page to the site footer.
  # It can be either a remote url or a local file path relative to your content directory.
  geekdocPrivacyPolicy: https://owncloud.org/privacy-policy/

  # Shows a parent above the search results
  GeekdocSearchShowParent: true
