.gdoc-header { background: #3d496b; border-color: #2f333e; }
.gdoc-footer { background: #404040; color: #ffffff; }
.gdoc-footer__link, .gdoc-footer__link:visited, .gdoc-footer__link:hover { color: #e66f35; }

/* custom shortcodes */
/* button */
.gdoc-button { color: #495057; }
.gdoc-button:hover { background-color: #e56f35; border-color: #cd551a; color: #ffffff; }
